@font-face {
    font-family: 'Roboto';
    src: url(Font/Roboto-Light.ttf) format('truetype');
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imgs/asfalt_dark.png);
    margin-right: 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: cursive;
}
.nav{
    background-color: rgb(116, 113, 113);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto';
    margin-right: 0px;
}
.nav-title{
    align-self: flex-end;
    flex: 1;
    margin-left: 5%;
    margin-bottom: 10px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 95%;
    align-items: center;
    flex: 1;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.navLink{
    color: whitesmoke;
    text-decoration: none;
}
#active{
    font-weight: bold;
}
.btn{
    background-color: darkturquoise;
    border: 1px solid black;
    box-shadow: 2px 2px 0px darkblue;
    width: 70px;
    height: 22px;
    color: whitesmoke;
}
.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
    border: 5px solid rgb(202, 202, 202);
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.flav{
    background-color: dodgerblue;
    width: 100%;
    height: 100px;
    z-index: 0;
    margin-left: 0px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}
#profile {
    position: fixed;
    top: 100px;
    width: 100px;
    z-index: 1;
    margin: 40px;
    border: solid 10px rgb(202, 202, 202);
    border-radius: 50%;
}
#prof{
    margin-top: 100px;
    margin-left: 40px;
}
.card img{
    width: 15px;
}
.words{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}
.edit{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.loc{
    display: flex;
    flex-direction: row;
    vertical-align: text-bottom;
    margin-left: 40px;
    margin-bottom: 20px;
}
#seattle{
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 12pt;
    font-weight: bold;
}